.mainContainer{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(33%, auto));
    margin-left: 50px;
    margin-right: 50px;
}
.userContainer{
    background-color: white;
    border-radius: 10px;
    height: 180px;
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}