table {
  border-collapse: collapse;
  width: 100%;
  border: none;
  font-weight: bold;
}
body th,
td {
  width: 100px;
  height: 65px;
  text-align: center;
  border: 2px solid #5571aa;
  vertical-align: left;
}
th {
  height: 50px;
}
th:first-child,
td:first-child {
  width: 4%;
}
th,
td:not(:first-child) {
  width: 37%;
}
a {
  text-decoration: none;
}
.top {
  border-top: none;
}
.bottom {
  border-bottom: none;
}
.tableLeft {
  border-left: none;
}
.tableRight {
  border-right: none;
}

.mainContainer {
  background-color: #112d4e;
}

.contentContainer {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1000px 400px;
  /* padding-top: 15px; */
  padding-bottom: 70px;
}

.tableContainer {
  padding-left: 100px;
  border: none;
}

.table {
  width: 980px;
  height: 130vh;
  background-color: white;
  border-radius: 40px;
  border: none;
}

.choiceContainer {
  position: fixed;
  width: 450px;
  right: 60px;
  background-color: white;
  overflow-x: hidden;
  border-radius: 20px;
}

.semSelect {
  /*상단 학년학기 선택*/
  position: fixed;
  top: 0px;
  right: 190px;
  background-color: white;
  color: #1e2d4b;
  font-weight: bold;
  width: 320px;
  height: 70px;
  border-radius: 0px 0px 15px 15px;
  border: none;
}

#select {
  /*상단 학년학기 선택*/
  font-size: 16px;
  margin-top: 16px;
  width: 300px;
  height: 40px;
  border-radius: 10px;
  font-weight: bold;
}
.highlighted {
  background-color: #dbe2ef;
}
.sum {
  background-color: white;
  width: 980px;
  height: 110px;
  border-radius: 20px;
  font-size: 18px;
  justify-content: center;
  align-items: center;
}
.sum1,
.sum2 {
  padding-top: 10px;
  margin-left: 100px;
  margin-right: 100px;
  text-align: center;
  width: 780px;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 세 개의 컬럼으로 나눔 */
  grid-row: span 1; /* 각각의 sum1, sum2가 한 로우를 차지하도록 설정 */
}
#ge {
  background-color: #3f72af;
  color: aliceblue;
}
#leftSum {
  color: red;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.in {
  margin: 0px;
  padding: 0px;
  padding-left: 5px;
  padding-right: 5px;
  width: 75px;
  border: none;
  background-color: #dbe2ef;
  text-align: center;
}
.out {
  font-weight: 700;
}
#ge::placeholder {
  color: white; /* 여러분이 원하는 색상으로 변경하세요. */
}