table {
  border-collapse: collapse;
  width: 100%;
  border: none;
  font-weight: bold;
}
body th,
td {
  width: 100px;
  height: 65px;
  text-align: center;
  border: 2px solid #5571aa;
  vertical-align: left; /* 가운데 */
}
th {
  height: 50px;
}
th:first-child,
td:first-child {
  width: 4%;
}
th,
td:not(:first-child) {
  width: 37%;
}
a {
  text-decoration: none;
}
.top {
  border-top: none;
}
.bottom {
  border-bottom: none;
}
.tableLeft {
  border-left: none;
}
.tableRight {
  border-right: none;
}
.mainContainer {
  background-color: #112d4e;
  width: 100vw;
}
.contentContainer {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1200px 400px;
  padding-top: 15px;
  padding-bottom: 70px;
}
.tableContainer {
  padding-left: 100px;
  border: none;
}
.table {
  width: 1050px;
  height: 900px;
  background-color: white;
  border-radius: 50px;
  height: 130vh;
  border: none;
}
.choiceContainer {
  position: fixed;
  height: 86vh;
  overflow: scroll;
  width: 450px;
  right: 50px;
  background-color: white;
  overflow-x: hidden;
  border-radius: 30px 0px 0px 0px;
}
.choiceContainer::-webkit-scrollbar {
  width: 10px;
}
.choiceContainer::-webkit-scrollbar-thumb {
  background-color: #dbe2ef;
}
.choiceContainer::-webkit-scrollbar-track {
  background-color: #112d4e;
}
.semSelect {
  position: fixed;
  top: 0px;
  right: 180px;
  background-color: white;
  color: #1e2d4b;
  font-size: 20px;
  font-weight: bold;
  width: 320px;
  height: 70px;
  border-radius: 0px 0px 15px 15px;
  border: none;
}
#select {
  margin-top: 16px;
  width: 300px;
  height: 40px;
  border-radius: 10px;
  font-weight: bold;
}
.submitBtn {
  position: fixed;
  top: 0px;
  right: 50px;
  background-color: white;
  color: #1e2d4b;
  font-size: 20px;
  font-weight: bold;
  width: 120px;
  height: 70px;
  border-radius: 0px 0px 15px 15px;
  border: none;
}
