.titleContainer {
  width: 100vw;
  background-color: #1e2d4b;
  padding-bottom: 10px;
}

table {
  margin-top: 50px;
  border-collapse: collapse;
  width: 100%;
  border: none;
  font-weight: bold;
}
body th,
td {
  width: 100px;
  height: 50px;
  text-align: center;
  border-right: none;
  border-bottom: none;
  vertical-align: left;
}
th {
  height: 50px;
}
th:first-child,
td:first-child {
  width: 4%;
}
th,
td:not(:first-child) {
  width: 37%;
}
a {
  text-decoration: none;
}
.top {
  border-top: none;
}
.bottom {
  border-bottom: none;
}
.tableLeft {
  border-left: none;
}
.tableRight {
  border-right: none;
}
.mainContainer {
  background-color: white;
  padding-bottom: 50px;
  overflow-x: hidden;
}
.contentContainer {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 900px 400px;
  padding-top: 15px;
  padding-bottom: 70px;
}

.tableContainer {
  padding-left: 630px;
  border: none;
}

.table {
  width: 950px;
  height: 120vh;
  background-color: white;
  border-radius: 40px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.imageContainer img {
  margin-top: 40px;
  margin-left: 10px;
  margin-right: 10px;
}

.textContainer {
  display: grid;
  grid-template-columns: 120px 100px;
  justify-items: center;
  padding-left: 1px;
  margin-top: 30px;
  margin-right: 50px;
}

.boldText {
  font-weight: bold;
}

.userContainer {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
  position: absolute;
  left: 150px;
  top: 250px;
  background-color: white;
  border-radius: 10px;
  width: 400px;
  height: 180px;
  margin: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.storeBtn {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  align-items: center;
  font-weight: bold;
  position: absolute;
  left: 150px;
  top: 450px;
  border: none;
  background-color: #e7e7e7;
  border-radius: 10px;
  width: 400px;
  height: 60px;
  margin: 20px;
  display: grid;
  text-align: center;
  font-size: 12pt;
  cursor: pointer;
}
.storeBtn:hover {
  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
}

.goBackBtn {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  align-items: center;
  position: absolute;
  font-weight: bold;
  left: 150px;
  top: 520px;
  border: none;
  background-color: #e7e7e7;
  border-radius: 10px;
  width: 400px;
  height: 60px;
  margin: 20px;
  display: grid;
  text-align: center;
  font-size: 12pt;
  cursor: pointer;
}

.goBackBtn:hover {
  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
}

.container {
  background-color: white;
  width: 800px;
  height: 0px;
}
