table {
    border-collapse: collapse;
    width: 100%;
    border: none;
    font-weight: bold;
  }
  body th,
  td {
    width: 100px;
    height: 65px;
    text-align: center;
    border: 2px solid #5571aa;
    vertical-align: left; 
  }
  th {
    height: 50px;
  }
  th:first-child,
  td:first-child {
    width: 4%;
  }
  th,
  td:not(:first-child) {
    width: 37%;
  }
  a {
    text-decoration: none;
  }
  .top {
    border-top: none;
  }
  .bottom {
    border-bottom: none;
  }
  .tableLeft {
    border-left: none;
  }
  .tableRight {
    border-right: none;
  }
  
  
.contentContainer {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 900px 400px;
  /* padding-top: 15px; */
  padding-bottom: 70px;
}
            
.tableContainer {
  padding-left: 800px;
  border: none;
}

.table {
  width: 980px;
  height: 130vh;
  background-color: white;
  border-radius:40px;
  border: none;
}