.imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cbnuLogo {
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 10px; /* 이미지 오른쪽 간격 조절 */
}

.profileContainer {
  margin-top: 10px;
}
.aboveContainer {
  width: 90vw;
  height: 35vh;
  margin-left: 70px;
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.textContainer {
  display: grid;
  grid-template-columns: 123px 145px;
  justify-items: center;

  margin-top: 20px;
  margin-left: 17px;
  margin-bottom: 13px;
}

/* .textContainer0 {
  display: grid;
  grid-template-columns: 123px 175px;
  justify-items: center;

  margin-top: 20px;
  margin-left: 17px;
  margin-bottom: 13px;
} */

/* .textContainer1 {
  display: grid;
  grid-template-columns: 105px 215px;
  justify-items: center;

  margin-top: 25px;
  margin-left: 17px;
  margin-bottom: 0px;
} */

/* .textContainer2 {
  display: grid;
  grid-template-columns: 105px 155px;
  justify-items: center;
  margin-top: 20px;
  margin-left: 17px;
  padding-bottom: 10px;
} */

.textContainer3 {
  display: grid;
  grid-template-columns: 150px 30px 280px;

  text-align: left;
  margin-top: 20px;
  margin-left: 45px;
  margin-right: 0px;
  padding-bottom: 5px;
}

.imglink {
  margin-left: 50px;
}

.link {
  margin-left: 60px;
  font-size: 18px;
}

.textleftContainer {
  text-align: left;
  font-size: 19px;
  padding-left: 50px;
  padding-top: 10px;
  padding-bottom: 2px;
  font-weight: bold;
}
.textleftContainer00 {
  text-align: left;
  font-size: 19px;
  margin-top: 10px;
  padding-left: 50px;
  padding-top: 10px;
  padding-bottom: 2px;
  font-weight: bold;
}
.textleftContainer01 {
  text-align: left;
  font-size: 19px;
  margin-bottom: 10px;
  padding-left: 50px;
  padding-top: 10px;
  padding-bottom: 2px;
  font-weight: bold;
}
.textleftContainer02 {
  text-align: left;
  font-size: 19px;
  padding-left: 50px;
  padding-bottom: 10px;
  margin-top: 20px;
  font-weight: bold;
}

.marginLeft {
  margin-left: 50px;
}

.marginLeft1 {
  margin-left: 44px;
}
.marginLeft2 {
  margin-left: 115px;
  background-color: white;
}
.marginLeft3 {
  margin-left: 132px;
  background-color: white;
}

.boldText {
  font-weight: bold;
  font-size: 19px;
}

.userInf {
  margin-left: 100px;
  margin-right: 20px;
  border-radius: 30px;
  background-color: white;
}
.schoolInf {
  margin-left: 20px;
  margin-right: 100px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.7);
  border: #112d4e;
}

.underContainer {
  width: 90vw;
  height: 35vh;
  margin-left: 70px;
}
.academicInf {
  margin-left: 100px;
  margin-right: 100px;
  border-radius: 30px;
  height: 33vh;
  margin-top: 20px;
  background-color: white;
}
.subTitle {
  text-align: left;
  padding-left: 50px;
  color: #1e2d4b;
  background-color: #e7e7e7;
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 30px 30px 0px 0px;
}

.logoutBtn {
  /*mycourse 저장*/
  position: fixed;
  right: 210px;
  top: 0px;
  cursor: pointer;
  background-color: white;
  color: #1e2d4b;
  font-size: 18px;
  font-weight: bold;
  width: 120px;
  height: 50px;
  border-radius: 0px 0px 15px 15px;
  border: none;
}

.delBtn {
  cursor: pointer;
  position: fixed;
  right: 430px;
  top: 0px;
  background-color: white;
  color: #1e2d4b;
  font-size: 18px;
  font-weight: bold;
  width: 100px;
  height: 50px;
  border-radius: 0px 0px 15px 15px;
  border: none;
}

.changeBtn {
  cursor: pointer;
  position: fixed;
  right: 340px;
  top: 0px;
  background-color: white;
  color: #1e2d4b;
  font-size: 18px;
  font-weight: bold;
  width: 80px;
  height: 50px;
  border-radius: 0px 0px 15px 15px;
  border: none;
}

.academicContext {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
