.listContainer{
  display: grid;
  padding-top: 10px;
  grid-template-columns: 300px 150px 150px;
  width: 600px;
  align-items: baseline;
}
.title{
  color: white;
  padding-left: 50px;
  font-size: 45px;
  font-weight: bold;
}
.list{
  padding-left: 5px;
  color: white;
  font-weight: 100;
}